.page-content{
    padding-top: 30px;
    padding-left: 2em;
    padding-right: 2em;
    overflow: hidden;
}

.card {
    border: 3px solid teal;
    border-radius: 5px;
    margin: 0 auto;
    margin-top:3%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card-header{
    padding: 1%;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    border-bottom: 2px solid rgb(192, 192, 192);
}
.card-body{padding:3%;}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.nav{
    background-color: slategray;
    list-style-type: none;
    text-align: center;
    position: fixed; top:1; width:100%;
}

.nav li{
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}

.nav li a{
    text-decoration: none;
    color:white
}

.header{
    background-color: white;
    text-align: center;
}

.profile{
    margin-top: 15%;
    text-align: center;
}

.footer{
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: white;
    text-align: center;
}